.container
  .row.justify-content-center
    .col-md-8
      .card.shadow-sm.mb-4
        .card-header.bg-primary.text-white
          %h3.mb-0 Welcome to Captcha Demo
        .card-body
          - if user_signed_in?
            %h4.mb-3 Users
            = turbo_frame_tag "users_list" do
              - @users.each do |user|
                .card.mb-2
                  .card-body
                    = link_to user_path(user), class: "text-decoration-none" do
                      .d-flex.align-items-center
                        %i.bi.bi-person.fs-4.me-2
                        %span= user.name

          .mt-4
            %h4.mb-3 Drag & Drop Demo
            #drag-drop-demo.border.rounded.p-3{"data-controller": "drag-drop"}
              .row
                .col-md-6.mb-3
                  #draggable.card.bg-light{"data-drag-drop-target": "draggable", "data-action": "dragstart->drag-drop#dragStart dragend->drag-drop#dragEnd", draggable: "true"}
                    .card-body.text-center
                      %i.bi.bi-arrow-right-circle.fs-3.mb-2
                      %p.mb-0 Drag me
                
                .col-md-6.mb-3
                  #droppable.card.border-dashed{"data-drag-drop-target": "droppable", "data-action": "dragover->drag-drop#dragOver dragleave->drag-drop#dragLeave drop->drag-drop#drop"}
                    .card-body.text-center
                      %i.bi.bi-bullseye.fs-3.mb-2
                      %p.mb-0 Drop here

          .mt-4
            .alert.alert-info
              %i.bi.bi-info-circle.me-2
              This is a demo application showcasing drag & drop functionality with modern Rails and Hotwire.
